{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% if todoitem_list and not user.is_anonymous %}
            <h1 class="text-center my-3">Welcome {{user.last_name}} {{user.first_name}}</h1>
            <div class="containerr">
                <div class="row">
                    <h3 class="text-center mb-3">My Tasks</h3>
                    <ul class="list-group col-lg-2 offset-lg-5 text-center">
                        {% for todoitem in todoitem_list %}
                            <li class="list-group-item">
                                <a href="{% url 'todolist:viewtodoitem' todoitem.id %}" class="text-decoration-none">{{ todoitem.task_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
        {% elif user.is_anonymous %}
            <h1 class="text-center my-3">You are not authorized to access this page.</h1>
            <p class="text-center">Kindly login <a href="login/">here</a></p>
        {% elif todoitem_list.count == 0 and user %}
            <p>No Tasks have been created.</p>
        {%endif %}
{% endblock %}