{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center my-3">Register</h1>
            {% if is_registered %}
                <p class="text-danger text-center">A duplicate user has been found, user creation is unsuccessful.</p>
            {% elif is_successful %}
                <p class="text-success text-center">The account is successfully created!</p>
            {% elif password_different %}
                <p class="text-danger text-center">Password and Confirm Password are not the same.</p>
            {% endif %}
            <form action="{% url 'todolist:register' %}" method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ username }}" maxlength="20" required>
                </div>
                <div class="mb-3">
                    <label for="firstname">First Name: </label>
                    <input type="text" class="form-control" id="firstname" name="firstname" value="{{ firstname }}" maxlength="20" required>
                </div>
                <div class="mb-3">
                    <label for="lastname">Last Name: </label>
                    <input type="text" class="form-control" id="lastname" name="lastname" value="{{ lastname }}" maxlength="20" required>
                </div>
                <div class="mb-3">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ email }}" maxlength="100" required>
                </div>
                <div class="mb-3">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control" id="password" name="password" value="{{ password }}" maxlength="20" required>
                </div>
                <div class="mb-3">
                    <label for="confirm_password">Confirm Password: </label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" value="{{ confirm_password }}" maxlength="20" required>
                </div>
                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
