{% if not is_authenticated %}
    <h1>Invalid User Credentials</h1>
    <p>Check if the username and password are correct.</p>
{% else %}
    <h1>User Password is successfully updated!</h1>
{% endif %}