{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center my-3">Login</h1>
            {% if error %}
                <p class="text-danger">Invalid user credentials, please check your username and password.</p>
            {% endif %}
            <form action="{% url 'todolist:login' %}" method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ username }}" maxlength="20" required>
                </div>
                <div class="mb-3">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control" id="password" name="password" value="{{ password }}" maxlength="20" required>
                </div>
                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- {% if not is_user_authenticated %}
    <h1>Something went wrong</h1>
    <p>Please contact your administrator or reset your password.</p>
    <a href="{% url 'todolist:index' %}">Back to index page.</a>
{% endif %} -->
    