{% if is_registered %}
    <h1>Duplicate User Found!</h1>
    <p>A duplicate user has been found, user creation is unsuccessful.</p>
{% else %}
    <h1>User Sucecssfully Created!</h1>
    <p>The account for {{first_name}} {{last_name}} is successfully created!
    </p>
{% endif %}